{% extends 'message/base.html' %}
{% block title %} Форма для Рассылки {% endblock %}
{% block content %}
    <div class="container mt-5">
        <h3 class="mb-3">Форма для рассылки</h3>
        <form method="post" enctype="multipart/form-data" action="{% if campaign %}{% url 'mailings:campaign_edit' campaign.pk %}{% else %}{% url 'mailings:campaign_create' %}{% endif %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Сохранить</button>
            <a href="{% url 'mailings:campaign_list' %}" class="btn btn-primary">Отменить</a>
        </form>
    </div>
{% endblock %}
