{% extends 'message/base.html' %}
{% block title %} Форма для сообщения {% endblock %}
{% block content %}
    <div class="container mt-5">
        <h3 class="mb-3">Форма для сообщения</h3>
        <form method="post" enctype="multipart/form-data" action="{% if message %}{% url 'message:update_message' message.pk %}{% else %}{% url 'message:create_message' %}{% endif %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Сохранить</button>
            <a href="{% url 'message:messages_list' %}" class="btn btn-primary">Отменить</a>
        </form>
    </div>
{% endblock %}
